<ion-header>
  <ion-navbar>
    <ion-title [ngStyle]="titleStyle">Forms</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-item [ngStyle]="titleStyle">
	<div *ngFor="let form of forms">
  <label class="item item-input item-select" >
    <div class="input-label">
      {{ form.question }}
    </div>
    <select>
      <option *ngFor="let option of form.choices;" (click) = "setAnswerForm(form, option)">{{option}}</option>
    </select>
  </label>
  </div>
  </ion-item>
  <ion-item>
  <div *ngFor="let input of inputs;">
  <label> {{ input.question }} </label>
  	<input type="text" [(ngModel)]="input.answer" 
  	(change)="setAnswerInput(input)">
  </div>
  </ion-item>
  <button (click)="showAnswer()">SHOW</button>
</ion-content>