<ion-header>
  <ion-navbar color="dark">
    <ion-title [ngStyle]="titleStyle">Forms</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	
	<div *ngFor="let form of forms; let i = index">
	<ion-item [ngStyle]="formStyles[i]">
  <label class="item item-input item-select" >
    <div style="margin:3px" class="input-label">
      {{ form.question }}
    </div>
    <select style="margin:3px;width:95%;height:44px" (change)="setAnswerForm(form, $event.target.value)">
      <option value="" disabled selected>Select</option>
      <option *ngFor="let option of form.choices;">{{option}}</option>
    </select>
  </label>
  </ion-item>
  </div>

  <div *ngFor="let input of inputs;let i = index">  
  <ion-item [ngStyle] = "inputStyles[i]">
  <label style="margin:4px"> {{ input.question }} </label><br>
  	<h3 style="color:red;margin:4px"> {{ warningInput[i] }} </h3>
  	<input style="margin:4px" style="text-align:center;height:39px" type="text" [(ngModel)]="input.answer" 
  	(change)="setAnswerInput(input)"><p style="margin:4px">{{ units[i] }}</p>
  </ion-item>
  </div>
  <div style="text-align:center;margin:10px">
  <button ion-button block (click)="clearStorage()">Clear Data</button>
  </div>
</ion-content>